/*Default CSS to be applied; unless these are overridden in medium or large they will be applied. Obviously, fine tuning these units when designing something from scratch takes more time, so try different sizes out.*/

/*Text Adjust: This styling will prevent the screen from loading text too small on small screens; the font will always be 100%*/
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*Box Sizing Model: Padding is added to the inside, margin added to the outside*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*apply the default font using the font family we imported to the html*/
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
}
/*Grid Rules*/
.row {clear: both;}
.limited{max-width:1400px; margin: auto;}/*this will center the content even as the window reaches max size*/
.column{float: left; padding: 0 2vw; margin: 0 0 .75rem 0;}/*2vw = 2 view width*/

.small-12{width: 100%;}

/*header rules*/
header {
    background-color: plum;
}
header img{
    float: left;
    height: 85px;
    padding-right: 10px;
}
header h1, header h2{
    margin: 0;
    color: white;
    font-weight: 300;
    font-style: italic;
}
header h1{
    padding: .5rem 0 0 0;
    font-size: 1.95rem;
}
header h2{
    padding: .2rem 0 0 0;
    font-size: 1.05rem;
}

/*nav rules*/
button#hamburgerBtn { 
    background: none;
    border:none;
    color: #fff;
    font-size: 2.4rem;
    cursor: pointer; /*the cursor displayed whe mouse is over the element*/
    padding: 0 30px 0 2vw;
    }
nav {background-color: #23cfa7}
nav ul {margin: 0; padding: 0;}
nav ul li {list-style-type: none;}
nav a {
    display: block; /*block display allows for padding*/
    padding: .8rem 0;
    color: white;
    text-align: center;
    text-decoration: none;
}
nav li.active{background-color: rgba(0, 0, 0, .5)}/*50% blacken the regular color*/
nav a:hover{background-color: rgba(0,0,0,0.2);}/*20% blacked the regular color*/
nav ul.open {display: block;}
nav ul {display: none;}

main img{
    width: 100%;
    height: auto
}

main h1{
    color: plum;
    font-style: italic;
    margin: .5rem 0 .1rem 0;
    font-size: 2rem;
}

/* ***** SPECIALS STYLING ***** */
.labeled{position: relative;}
.labeled h6, .labeled p {
    position: absolute;
    background-color: rgba(255,255,255,.7);
    margin: 0;
    width: 100%;
    padding: .3rem 1rem;   
}
.labeled h6 {
    top: 0;
    font-size: 2rem;
    font-weight: 300;
}
.labeled p {
    bottom: 0;
    font-weight: 700;
    color: #b00;
}
    

/*footer rules*/
footer {
    background-color: plum;
    font-size: 1.2rem;
}
footer h2 {
    font-style: italic;
    text-transform: uppercase;
    margin: 1rem 0 .3rem 0; /*not adding a left or right margin*/
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }/*inserts content after the floated items and prevents the content from collapsing*/